body{
    background-color:#344a72 ;
    font-family: 'Robot', sans-serif;
}
.navbar{
    background: #2e4164;
    font-family: sans-serif;
    margin-left: -7px;
    margin-top: -10px;
    margin-right: -7px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}
.navdiv{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: white;
    font-size: 45px;
}
.logo a{
    font-size: 35px;
    font-weight: 600px;
    color: white;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}
button{
    cursor: pointer;
    border: 1px solid gray;
    background-color: #283857;
    margin-left: 10px;
    border-radius: 7px;
    padding: 10px;
    width: 90px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
button:hover{
    background-color: #344a72;
}




div.box1{
    
    width: 360px;
    height: 280px;
    margin: auto;
    background-color: white;
    border-radius: 25px;
}
h1{
    text-align:center;
    padding-top: 15px;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    font-size: 18px;
    display: flex;
    margin-top: 20px;
}
form input{
    cursor: pointer;
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: invert;
}
input[type="submit"]{

    width: 315px;
    height: 35px;
    margin-top: 40px;
    border: none;
    background-color: rgb(47, 111, 180);
    color: white;
    font-size: 18px;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    color: white;
    margin-top: -10px;
}
p a{
    color: rgb(41, 157, 177);
}
input[type="submit"]:hover{
    background-color:#344a72 ;
}
